*.lnk
.Xil/
TurnTower.cache/
TurnTower.hw/
TurnTower.ip_user_files/
TurnTower.runs/
*.xpr
*.btree
TurnTower.sim/
TurnTower.sdk/.metadata/
TurnTower.sdk/*bsp/
TurnTower.sdk/*hw_platform_0/
TurnTower.sdk/*/Debug/
TurnTower.sdk/myfsbl/
TurnTower.sdk/myfsbl_jtag/
TurnTower.sdk/.sdk/
TurnTower.sdk/web*/
ip_lib/
*.jou
*.html
*.log
*.str
.project
.cproject
*.txt
*.dmp
*.raw
*.png
TurnTower.srcs/sources_1/bd/
TurnTower.srcs/sources_1/ip/
TurnTower.srcs/sources_1/imports/chipscope/
TurnTower.srcs/sources_1/imports/ipcore_dir/
TurnTower.srcs/sim_1/